Source: powerpoint-viewer-bin
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: powerpoint-viewer-bin
Architecture: any
Depends: ${misc:Depends}
Description: Microsoft PowerPointViewer binary
 This package contains Microsoft PowerPointViewer
 Windows binary executable

